{% extends "SiteBundle::layout.html.twig" %}

{% block title %}
  Accueil - {{ parent() }}
{% endblock %}

{% block site_body %}

  <h2>Liste des annonces</h2>

  <ul>
    {% for cv in listCVs %}
      <li>
        <a href="{{ path('Site_view', {'id': cv.id}) }}">
          {{ cv .title }}
        </a>
        par {{ cv.author }},
        le {{ cv.date|date('d/m/Y') }}
      </li>
    {% else %}
      <li>Pas (encore !) d'annonces</li>
    {% endfor %}
  </ul>

{% endblock %}